[submodule "3rdparty/sentencepiece-js"]
	path = 3rdparty/sentencepiece-js
	url = https://github.com/tqchen/sentencepiece-js
[submodule "mlc-llm"]
	path = mlc-llm
	url = https://github.com/mlc-ai/mlc-llm
