.chatui {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 867px;
    margin: 25px 10px;
    height: 600px;
    border: 2px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
    background-color: #343541;
}

s .chatui-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid #ddd;
    background: #eee;
    color: #666;
}

.chatui-chat {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4)
}

.chatui-chat::-webkit-scrollbar {
    width: 6px;
}

.chatui-chat::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.chatui-chat::-webkit-scrollbar-thumb {
    background: #888;
}

.chatui-chat::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.msg:last-of-type {
    margin: 0;
}

.msg-bubble {
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 16px;
    margin: 5px auto;
    width: calc(100% - 20px);
    box-sizing: border-box;
    color: black;
    border: none;
    font-size: medium;
    margin-left: auto;
    margin-right: auto;
}

.left-msg .msg-bubble {
    background-color: #343541;
    color: #ececec;
}

.error-msg .msg-bubble {
    background-color: #343541;
    color: #f15959;
}

.init-msg .msg-bubble {
    background-color: #343541;
    color: #ececec;
}

.right-msg .msg-bubble {
    background-color: #444654;
    color: #ececec;
}

.chatui-inputarea {
    display: flex;
    padding: 10px;
    border-top: 2px solid transparent;
    background-color: rgba(0, 0, 0, 0.4)
}

.chatui-inputarea * {
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 1em;
    color: white;
    background: rgba(0, 0, 0, 0.3);
}

.chatui-input {
    flex: 1;
    background-color: #40414F;
    color: white;
}

.chatui-reset-btn {
    margin-left: 10px;
    background: #ececec;
    font-weight: bold;
    border-radius: 8px;
    width: 200px;
    cursor: pointer;
}

.chatui-reset-btn:hover {
    background: #dcdada;
}

.chatui-send-btn {
    margin-left: 10px;
    background-color: #40414F;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    background-image: url('plane.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
}

.chatui-send-btn:hover {
    background-color: #03a33e;
}
